body{
    margin: 0;
}

/*-------------------------------------------------------------------- Grid Conainer declarations -------------------------------------------------------------------- */

.calcContainer{
    width: 100%;
    height: 100%;
    background-color: seagreen;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-areas: 
    'field field field'
    'one two three'
    'four five six'
    'seven eight nine'
    'plus zer0 multi' 
    'minus dot divide'
    'graph . adv'
    'clear . equal';
    grid-gap: 10px;
}

.graphContainer{
    width: 100%;
    height: 100%;   
    background-color:rgb(66, 155, 105);
    border: 1px solid darkslategray;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-areas: 
    'canvas canvas canvas'
    'canvas canvas canvas'
    'canvas canvas canvas'
    'canvas canvas canvas'
    'g1 . g2';
    grid-gap: 10px;
}

/*-------------------------------------------------------------------- Content ------------------------------------------------------------------------------------------------ */


.calcField{
    background-color:white;
    border: 1px solid rgb(81, 91, 100);
    grid-area: field;
    text-align: center;
    vertical-align: center;
    height: 50px;
}

.graphField{
    position: fixed;
    left: -35%;
    width: 35%;
    height: 60%;
    top: 20%;
}

.inView{
    left: 0;
}

.myChartContainer{
    grid-area: canvas;
    background-color:white;
}


/* .placeholder{
    grid-area: canvas;
    width: 80%;
    height: 100%;
    margin: 10px 0 0 0;
    background-color: white;
} */

[class^=button]{
    background-color:cornsilk;
    border: 1px solid rgb(81, 91, 100);
    min-width: 100px;
    min-height: 50px;
    text-align: center;
    vertical-align: center;
}

/*-------------------------------------------------------------------- Button grid Assingments -------------------------------------------------------------------------------- */

.buttonPlus{
    grid-area: plus;
}

.buttonMinus{
    grid-area: minus;
}

.buttonEquals{
    grid-area: equal;
}

.buttonClear{
    grid-area: clear;
}

.buttonMultiply{
    grid-area: multi;
}

.buttonDivide{
    grid-area: divide;
}

.buttonGraph{
    grid-area: graph;
}

.buttonAdv{
    grid-area: adv;
}

.buttonOne{
    grid-area: one;
}

.buttonTwo{
    grid-area: two;
}

.buttonThree{
    grid-area: three;
}

.buttonFour{
    grid-area: four;
}

.buttonFive{
    grid-area: five;
}

.buttonSix{
    grid-area: six;
}

.buttonSeven{
    grid-area: seven;
}

.buttonEigh{
    grid-area: eigh;
}

.buttonNine{
    grid-area: nine;
}

.buttonZero{
    grid-area: zer0;
}

/*-------------------------------------------------------------------- Graph Button grid Assingments ---------------------------------------------------------------------------- */


.buttonGOne{
    grid-area: g1;
}

.buttonGTwo{
    grid-area: g2;
}

.buttonGThree{
    grid-area: g3;
}

.buttonGFour{
    grid-area: g4;
}

.buttonGFive{
    grid-area: g5;
}

.buttonGSix{
    grid-area: g6;
}

.buttonGSeven{
    grid-area: g7;
}

.buttonGEigh{
    grid-area: g8;
}

.buttonGNine{
    grid-area: g9;
}