body{
    margin: 0;
}

/*-------------------------------------------------------------------- Grid Conainer declarations -------------------------------------------------------------------- */

.calcContainer{
    width: 100%;
    height: 100%;
    background-color: seagreen;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-areas: 
    'field field field'
    'one two three'
    'four five six'
    'seven eight nine'
    'plus minus .'
    'multi divide graph' 
    'clear . equal';
    grid-gap: 10px;
}

.graphContainer{
    /* width: 35%;
    height: 60%;
    background-color: seagreen; */
    border: 1px solid darkslategray;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-areas: 
    'canvas canvas canvas'
    'canvas canvas canvas'
    'canvas canvas canvas'
    'canvas canvas canvas';
    grid-gap: 10px;
}

/*-------------------------------------------------------------------- Content ------------------------------------------------------------------------------------------------ */


.calcField{
    background-color:white;
    grid-area: field;
    text-align: center;
    vertical-align: center;
    height: 50px;
}

.graphField{
    position: fixed;
    left: -35%;
    width: 35%;
    height: 50%;
    top: 25%;
    background-color:sienna;
}

.inView{
    left: 0;
}

.placeholder{
    width: 100%;
    height: 100%;
    background-color: deeppink;
}

[class^=button]{
    background-color:cornsilk;
    width: 100px;
    height: 50px;
    text-align: center;
    vertical-align: center;
}

/*-------------------------------------------------------------------- Button grid Assingments -------------------------------------------------------------------------------- */

.buttonPlus{
    grid-area: plus;
}

.buttonMinus{
    grid-area: minus;
}

.buttonEquals{
    grid-area: equal;
}

.buttonClear{
    grid-area: clear;
}

.buttonOne{
    grid-area: one;
}

.buttonTwo{
    grid-area: two;
}

.buttonFour{
    grid-area: four;
}

.buttonFive{
    grid-area: five;
}

.buttonSix{
    grid-area: six;
}

.buttonSeven{
    grid-area: seven;
}

.buttonEigh{
    grid-area: eigh;
}

.buttonNine{
    grid-area: nine;
}

.buttonMultiply{
    grid-area: multi;
}

.buttonDivide{
    grid-area: divide;
}

.buttonGraph{
    grid-area: graph;
}